:root {
    /* CSS HEX */
    --chestnut: #a24936ff;
    --powder-blue: #93b5c6ff;
    --tea-green: #ddedaaff;
    --black: #000001ff;
    --caribbean-current: #08605fff;
}

body {
    min-height: 1vh;
    background-color: var(--tea-green);
}

button {
    border-radius: 10px;
    border: none;
}

#container {
    width: 100vw;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 15px;
}

.header {
    height: 100px;
    color: rgb(241, 243, 233);
    background-color: var(--caribbean-current);
    text-align: center;
}

.header button {
    background-color: var(--powder-blue);
}

.book-card {
    border-radius: 10px 5px 3px 10px;
    display: grid;
    grid-template-columns: 15px calc(100% - 20px) 5px;
    box-shadow: 7px 3px 5px;
}

.card-left {
    background-image: url('media/leather.jpg');
    border-radius: 3px 0 0 3px;
}

.card-right {
    width: 10px;
    height: 100%;
    background: repeating-linear-gradient(
        to right, 
        black,
        black 0.5px,
        white 0.5px,
        white 2px 
    );
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    border-right: 2px solid brown;
}

.card-content {
    background-color: white;
    padding: 10px;
    height: 100%;
    border-top: 2px solid brown;
    border-bottom: 2px solid brown;
    border-left: 2px solid black;
    border-radius: 1px 0 0 1px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
}

.book-card button {
    background-color: var(--chestnut);
    color: white;
}

.card-header {
    display: grid;
    grid-template-columns: 8fr 1fr 2fr;
    grid-template-areas: 
        "title icon page-count"
        "author author author";
    text-wrap: balance;
}

.book-title {
    font-size: 1.25rem;
    grid-area: title;
    align-self: start;
}

.card-header .icon {
    grid-area: icon;
}

.book-page-count {
    grid-area: page-count;
}

.card-footer {
    align-self: end;
}